/*------------------------------*\
    $FORM ELEMENTS CSS
\*------------------------------*/

.form-element {
	margin-top: 1rem;
}

.label {
	transform: translateY(5px);
	margin-right: .5rem;
    width: 33%;
    min-width: 200px;
}

.control,
.label {
	display: inline-block;
    padding-left: 0;
}