/*------------------------------*\
	$FOOTER CSS
\*------------------------------*/


.footer {
    background-color: #fff;
    padding: 0;
}

.footer h1 {
	font-size: 1.5rem;
}

.footer .image {
	margin: 1rem auto;
}

.footer a {
	color: #FFF;
}

.footer a:hover {
	color: #363636;
}
